.page-template {
  margin-top: 2em;
  overflow-y: scroll;
  height: calc(100vh - 3em);
  width: 100vw;
  bottom: 0;
  position: absolute;
}

.page-template__back-arrow {
  display: flex;
  justify-content: center;
  margin-right: 1em;
}

.page-template__header {
  user-select: none;
  display: inline-flex;
  flex-direction: row;
}
