.contractor__card-width {
  display: inline-block;
}

.contractor__card-wrapper {
  margin-right: 2em;
}

.contractor__name {
  font-weight: 700;
}

.contractor__company-name {
  font-style: italic;
}
